version: '3.2'

services:
    autoheal: 
        restart: always
        image: willfarrell/autoheal
        environment: 
            - AUTOHEAL_CONTAINER_LABEL=all
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
    virtuoso:
        image: tenforce/virtuoso:virtuoso7.2.5
        volumes: 
            - type: volume
              source: virtuoso-db1
              target: /data
        ports:
            - "8890:8890"
        restart: always  
        labels:
            - "autoheal=true"
    synbiohubFrontend:
        image: synbiohub/sbh3frontend:snapshot
        ports:
            - "3333:3333"
        dns: 8.8.8.8
        restart: always
        environment: 
            - backend=http://localhost:7777
            - backendSS=http://synbiohubbackend:7777
    synbiohub:
        image: synbiohub/synbiohub:snapshot-standalone
        depends_on: 
            - virtuoso
        ports:
            - "7777:7777"
        volumes:
            - type: volume
              source: sbh1
              target: /mnt
            - type: volume
              source: virtuoso-db1
              target: /virtuoso
        dns: 8.8.8.8
        restart: always

volumes:
    virtuoso-db1:
    sbh1:

